<h1>Dashboard login</h1>
<h2>Welcome</h2>
<div id = "dashboard" >

<%= link_to image_tag('/assets/search.png') + 'All Cases', casefiles_path%>


<%= link_to image_tag('/assets/search.png') + 'Add New Case', new_casefile_path%>


</div>






